h1
{
    color: rgb(31, 138, 132);
    margin-top: 35px;
    font-size: 35pt;
    line-height: 35pt;
    font-style: normal;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}
h3
{
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    color: rgb(0,0,0);
    text-indent: 10px;
}
body
{
    background: rgb(205, 222, 236);
}
#whole
{
    padding : 50px;
}
p 
{
    margin-top: 3px;
    margin-bottom: 0px;
}
ul
{
    margin-top: 0pt;
}
li
{
    margin-bottom: 8pt;
}